<p-panel header="Devices">
    <p-table [value]="devices">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Addresses</th>
                <th scope="col">Fixture</th>
                <th scope="col">Channels</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-device>
            <tr>
                <td><app-device [device]="device"></app-device></td>
                <td>{{ device.startAddress }} - {{ device.startAddress + device.fixture.channels.length - 1 }}</td>
                <td>{{ device.fixture.name }}</td>
                <td>
                    <app-channel *ngFor="let channel of device.fixture.channels" [channel]="channel"></app-channel>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>