<p-panel header="Shows">
    <p-table [value]="shows.content">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Sections</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-show>
            <tr>
                <td><a [routerLink]="['/show', show.name]">{{ show.name }}</a></td>
                <td>{{ show.sections }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>