<p-panel header="Show {{this.show?.name}}">
    <p-table [value]="show?.sections ?? []">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">BPM</th>
                <th scope="col">Scenes</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-section>
            <tr>
                <td>{{ section.name }}</td>
                <td>{{ section.bpm }}</td>
                <td>
                    <p-chip *ngFor="let scene of section.scenes" [label]="scene.name"></p-chip>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>