.red .p-chip .p-chip-text {
  color: #fff !important;
  background-color: #f00;
}

.green .p-chip .p-chip-text {
  color: #000 !important;
  background-color: #0f0;
}

.blue .p-chip .p-chip-text {
  color: #fff !important;
  background-color: #00f;
}

.uv .p-chip .p-chip-text {
  color: #000 !important;
  background-color: #60f;
}

.amber .p-chip .p-chip-text {
  color: #000 !important;
  background-color: #ffbc00;
}