<p-menubar [model]="navigation">
    <ng-template pTemplate="start">
        <a routerLink="/home"><img src="/assets/lighting-control.png" alt="[LC]" height="40" class="mr-2" /></a>
    </ng-template>
    <ng-template pTemplate="end">
        <p-dropdown [options]="backends" optionLabel="name" (onChange)="selectBackend($event)"></p-dropdown>
    </ng-template>
</p-menubar>
<div *ngIf="loading">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
</div>