<p-panel header="Channels">
    <p-table [value]="channels.content">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-channel>
            <tr>
                <td><app-channel [channel]="channel"></app-channel></td>
                <td>{{ channel.type }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>