<p-panel header="Fixtures">
    <p-table [value]="fixtures">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Channels</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fixture>
            <tr>
                <td>{{ fixture.name }}</td>
                <td>{{ fixture.brand }}</td>
                <td>
                    <app-channel *ngFor="let channel of fixture.channels" [channel]="channel"></app-channel>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>