<p-panel header="Scene {{sceneForm.value.name}} ({{ sceneForm.value.type }})">
    <form [formGroup]="sceneForm">
        <ng-container formArrayName="values">
            <ng-container *ngFor="let valueForm of valueArray.controls; let i = index">
                <div class="p-fluid grid" [formGroupName]="i">
                    <div class="col-12 md:col-6">
                        <div class="field p-float-label">
                            <p-autoComplete formControlName="devices" [suggestions]="suggestionDevice"
                                (completeMethod)="searchDevice($event)" [multiple]="true" />
                            <label for="devices">Devices</label>
                        </div>
                        <div class="field p-float-label">
                            <p-autoComplete formControlName="channels" [suggestions]="suggestionChannel"
                                (completeMethod)="searchChannel($event)" [multiple]="true" />
                            <label for="channels">Channels</label>
                        </div>
                    </div>
                    <div class="grid col-12 md:col-3">
                        <span class="col-12 sm:col-4 justify-content-center">
                            <!-- TODO: dropdown had some issues, fix it -->
                            <!-- p-dropdown formControlName="type" [options]="effects"></p-dropdown -->
                        </span>
                        <span class="col-12 sm:col-4 justify-content-center">
                            <p-knob formControlName="min" [min]="0" [max]="255"></p-knob>
                            <label for="min">Min</label>
                        </span>
                        <span class="col-12 sm:col-4 justify-content-center">
                            <p-knob formControlName="max" [min]="0" [max]="255"></p-knob>
                            <label for="max">Max</label>
                        </span>
                    </div>
                    <div class="grid col-12 md:col-3">
                        <span class="col-12 sm:col-4 justify-content-center">
                            <p-knob formControlName="rate" [min]="0" [max]="16"></p-knob>
                            <label for="rate">Rate</label>
                        </span>
                        <span class="col-12 sm:col-4 justify-content-center">
                            <p-knob formControlName="offset" [min]="0" [max]="355"></p-knob>
                            <label for="offset">Offset</label>
                        </span>
                        <span class="col-12 sm:col-4 justify-content-center">
                            <p-knob formControlName="phase" [min]="0" [max]="355"></p-knob>
                            <label for="phase">Phase</label>
                        </span>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </form>
</p-panel>