<p-panel header="Scenes">
    <p-table [value]="scenes.content">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Devices</th>
                <th scope="col">Colors</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scene>
            <tr>
                <td><a [routerLink]="['/scene', scene.name]">{{ scene.name }}</a></td>
                <td>{{ scene.type }}</td>
                <td><app-device *ngFor="let device of scene.devices" [device]="device"></app-device></td>
                <td><app-channel *ngFor="let channel of scene.channels" [channel]="channel"></app-channel></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>