<p-panel header="Lighting-Control">
    <div>This project is not yet working, but I thought for demonstration purposes it makes sense to already have the
        frontend available. The documentation will follow as well. For now, check the tooltips available in the
        navigation.<br>All data you see here at the moment is hard coded.<br>If you want to take a look at the source
        code, please head over to <a href="https://gitlab.com/lightingcontrol/">gitlab/lightingcontrol</a>, where I will
        add a description on the structure of the project.</div>
</p-panel>
<p-panel header="The parts of Lighting-Control">
    <p-accordion [activeIndex]="0">
        <p-accordionTab>
            <ng-template pTemplate="header">
                <p-button label="Channels" icon="pi pi-sliders-v"></p-button>
            </ng-template>
            <ng-template pTemplate="content">
                <p>Channels represent a value from 0 to 255 to control a light-device, fog machine or any other device
                    that can be controlled with DMX or ArtNet. Some default channels are configured by default, but any
                    different channel can be configured.</p>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <p-button label="Fixtures" icon="pi pi-sun"></p-button>
            </ng-template>
            <ng-template pTemplate="content">
                <p>A fixture defines a generic device (like a light, fog machine, etc.) without defining at which
                    address it can be accessed. The fixture defines the order of channels the device has. The simplest
                    fixture has just one channel (for example master).</p>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <p-button label="Devices" icon="pi pi-box"></p-button>
            </ng-template>
            <ng-template pTemplate="content">
                <p>The device now assigns a fixture (with it's channels) to a DMX address. You can use as many devices
                    as there are adresses available.</p>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <p-button label="Scenes" icon="pi pi-book"></p-button>
            </ng-template>
            <ng-template pTemplate="content">
                <p>Without setting values or changing values to the channels or the devices, nothing will happen. A
                    Scene is a collection of channels of devices assigned to values or functions (like sinus, ramp or
                    square).</p>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <p-button label="Show" icon="pi pi-clone"></p-button>
            </ng-template>
            <ng-template pTemplate="content">
                <p>A Show uses the scenes and combines them to sections that run one after another, the show is now
                    ready to be used.</p>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</p-panel>